* {
	font-family: Arial, Tahoma, Verdana;
}

h1 {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 20px;
	
	&#ept-label {
	    position: relative;
	    left: 220px;
	    top: 2px;
	}
}

h2 {
	font-size: 14px;
}

#pane {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.epts {
	fill: "#EFEFEF";
}

.rectangle {
	fill: #EEE;
	stroke: black;
}

text {
	color: black;
}


section {
	height: 600px;
	position: absolute;
	top: 0;
	padding: 10px;
	z-index: 100;
	border: solid 1px #888;
	border-width: 0 1px;

	&#epts {
		width: 200px;
		left: 0px;

		ul {
			padding-left: 0;
			li {
				list-style: none;
				margin-bottom: 16px;
				line-height: 1;

				span {
					position: relative;
					font-size: 10px;
					top: -4px;
					left: 4px;
					color: #888;
				}

				&.basic span:after {
					content: '(Basic)';
				}

				&.custom span:after {
					content: '(User-defined)';
				}

				&.new {
					color: #4F4;
					span:after {
						content: '(New)';
					}
				}

				&.custom-cloned {
					text-decoration: line-through;
					span:after {
						content: '(Cloned)';
					}
				}

				ul li {
					font-size: 10px;
					color: #88F;
					cursor: pointer;
					display: inline-block;
					margin: 0 10px 0 0;
				}
			}
		}
	}

	&#forms {
		width: 300px;
		left: 830px;

		ul {
			padding-left: 0;

			& ul {
				font-size: 80%;
				padding-left: 10px;
			}

			li {
				list-style: none;
				margin-bottom: 16px;
				line-height: 1;
			}
		}

		&.ept {
			label {
				font-size: 12px !important;
			}

			input {
				width: 100%;
				padding: 6px;
				padding: 6px 0;
				border: solid 1px #888;
				border-width: 0 0 1px 0;
				background-color: #EFEFEF;

				&:focus {
					outline: none;
				}

				&#label {
					margin-bottom: 10px;
					font-size: 20px;
				}
			}

			button {
				margin: 20px 0 10px 0;
				float: right;
				padding: 6px;
			}
		}

		&.cloning {
			div {
				text-align: right;
				font-size: 12px;
				font-weight: bold;
			}
			h3 {
				font-size: 16px;
				font-weight: normal;
				input {
					float: right;
					width: 30px;
				}
			}

			ul.hidden {
				display: none;
			}
		}

	}
	&#debug {
		width: 300px;
		left: 1150px;
		border: none;

		pre {
			border: solid 1px #888;
			font-size: 12px;
			font-family: Courier;
			padding: 4px;
			clear: both;
			margin-top: 10px;
		}
	}

	div {
		margin-top: 10px;
	}
}
