* {
	font-family: Arial, Tahoma, Verdana;
}

h1 {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 20px;
}

#pane {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.etps {
	fill: "#EFEFEF";
}

.rectangle {
	fill: #EEE;
	stroke: black;
}

text {
	color: black;
}

section#forms {
	position: absolute;
	left: 810px;
	width: 300px;
	min-height: 100px;
	padding: 10px;
	z-index: 100;
}

section#forms div {
	margin-top: 10px;
}

section#forms input {
	width: 100%;
	padding: 6px;
}

section#forms input#label {
	width: 100%;
	margin-bottom: 10px;
	font-size: 20px;
}

section#forms button {
	margin-top: 20px;
	float: right;
	padding: 6px;
}